<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <header th:fragment="header">
            <div id="headerImageWrapper">
                <img th:src="@{/images/imageHeader.jpg}" alt="">
            </div>
            <div id="headerMenuWrapper">
                <ul class="menu-main">
                    <li><a href="" class="current">Work</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </header>
    </body>
</html>