html, body{
    margin: 0;
    padding: 0;
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
#loginFormWrapper{
    margin: auto;
}
.loginForm{
    width: 410px;
}
.loginForm h1{
    text-align: center;
}
input{
    outline: none;
    margin-bottom: 15px;
}
input::placeholder{
    padding-left: 30px;
}
input[type="text"], input[type="password"], input[type="submit"], input[type="email"]{
    width: 400px;
    height: 65px;
}
.forgot-href{
    float: right;
}
