<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../static/css/indexStyle.css" th:href="@{/css/indexStyle.css}" rel="stylesheet" />
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <div id="contentWrapper">

        <div id="leftBar" th:replace="~{fragments/leftBar :: leftBar}"></div>

        <div id="content">
            <form th:method="post" th:action="@{/account-creating}">
                <input type="number" name="number" placeholder="number" />
                <input type="number" name="balance" placeholder="balance" />
                <input type="text" name="currency" placeholder="currency" />
                <a href="/"><button type="submit">Создать</button></a>
            </form>
        </div>
    </div>
</body>
</html>